@charset "utf-8";

/* reset element */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

img {
  vertical-align: middle;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0 none;
  table-layout: fixed;
  width: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

address,
em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 건너뛰기 링크(접근성) */
.skipnav a {
  overflow: hidden;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  background: #000;
  color: #fff;
  text-align: center;
  z-index: 99999;
}

.skipnav a:focus,
.skipnav a:active {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
}

/* 비장애인들한테는 보일 필요가 없는 컨텐츠이지만, 장애인들한테는 인식돼야 할 컨텐츠에 붙이는 클래스 */
.blind {
  font-size: 0;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* 테이블의 제목과 폼의 그룹화 요소는 안보이게 처리함 */
caption,
legend {
  display: none
}

/* 자식들이 float 속성을 가질때 부모의 높이가 무너지므로 .cf로 해결함 */
.cf:after,
.cf:before {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: "Malgun Gothic", "맑은 고딕"
    sans-serif;
  font-size: 16px;
  color: #444;
  letter-spacing: -1px;
}


.row {
    max-width: 1500px;
    margin: 0 auto;
  }




#wrap {position: relative;}

#top {
  height: 150px; 
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 1920px;
  top: 0;
  left: 0;
  z-index: 99999;
  }

#top h1{position: absolute; top: 40px; left: 150px;
  }
#top h1 img{width: 280px;}


#header .header_cont {
    float: right;
    width: 780px;
  }
  
  .util {
    text-align: right;
  }
  
  .util>li {
    display: inline-block;
    font-size: 14px;
    color: #eee;
    padding: 10px 0 0 20px;
  }
  
  .util>li:after {
    content: "|";
    display: inline-block;
    font-size: 10px;
    position: relative;
    color: #eee;
    left: 10px;
    top: -2px
  }
  
  .util>li:last-child:after {
    display: none;
  }

#top .nav {
 position: absolute; top: 65%; right: 10%;
}

#top .depth1 {width: 200px;  color: #fff;;
font-weight: bold;
text-align: center; float: left; font-size: 25px; padding: 0 25px;}

#top .depth1:hover {
color: #c4923a; transition: all 0.5s;

}
#top .depth1:hover .depth2{
   transition: all 0.5s;
  font-weight: normal;
  margin-top: 27px;
  display: block;
  font-size: 25px;
  text-align: center;
  color: #fff;

}

#top .depth2 {
  display:none;
font-size: 20px;
}
#top .depth2 li:hover {
  transition: all 0.5s;
  color: #c4923a;
}
#top .depth2 ul{
  background:rgba(0, 0, 0, 0.5 );
  height: 40px;
}
/*동영상*/

.background .vid{
    height: 1080px;
}

/*데코*/
.deco1{
  width: 100%;
  height: 70px;
  background:#000 ;

}


/*모바일설명*/
.mobile{
  background-size: cover;
    background:url(../img/background22.jpg) no-repeat;
    background-attachment: fixed;
    position: relative;
}
.mobiles {
    background: rgba(0, 0, 0, 0.5);
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    height: 1200px;
}
.minfo p{
  text-align: center;
  color: #d5d2c9;
  font-size: 45px;

}
.minfo p:nth-child(1){
  padding: 120px 0 30px 0;
  text-decoration: underline;
  text-underline-position: under;
}

.minfo p:nth-child(2){
  font-size: 23px;
  padding: 0 0 30px;
}






.mobiles img {
  max-width: 100%;
}

.mimg{
  float: left;
  width:22%;
  padding-left: 50px;
}
.m2{
  float: left;
  width:23%;
  padding-left: 30px;
  color: #eee;
  font-size: 14px ;
  line-height: 1.2;
}
.mtxt{
  margin-bottom: 10px;
}
.micon1 img{
 width: 70px;
margin-bottom: 10px;
}

.micon2{
  padding-bottom: 20px;
}


.play1, .play2, .play3{
  float: left;
  width:18.33%;
  padding: 0 5px;
}

.play1 img, .play2 img, .play3 img{
  
  width:100%;
}

.hero {
  top: 100px;
  width: 80%;
  position: relative;
  margin: 0px auto;
}

.hero p{
  color: #d5d2c9;
text-align: center;
padding: 10px 0 10px;
font-size: 45px;
}

.hero p:nth-child(1) {
    padding: 0 0 30px 0;
    text-decoration: underline;
    text-underline-position: under;
  }

.hero p:nth-child(2) {
  padding: 0 0 20px;
  font-size:23px ;
  color: #d5d2c9;
}

.hero img{
  width: 100%;
}

.heros .marrow {
  position: absolute; top: 50%;
  transform: translateY(-50%),;
  background: none;
  border: none;
  font-size: 80px;
  color: #8b0000;
} 
.heros .prevArrow {
  left: -15px; z-index: 9999999
}
.heros .nextArrow{
  right: -25px;
}

.heros .slick-dots {
  position: absolute; bottom: 20px; width: calc(50% + 30px);
  text-align: right;
}
.heros .slick-dots li {
  display: inline-block;
}
.heros .slick-dots li button{
  width: 15px; height: 15px; background: #8b0000; border: none;
  text-indent: -9999px; overflow: hidden; border-radius: 50%; margin:0 5px
}
.heros .slick-dots li.slick-active button {
  width: 40px; border-radius: 50px;
}

.heros .slick-slide{/*슬릭슬라이더 안에 있는 모든슬라이드*/
  opacity: 0.7;
  /* transform: scale(0.85); */
  transition: all 0.5s;
}

.heros .slick-slide.slick-active{ /* 무대 공간에 보여지는슬라이드, slidesToShow */
  opacity: 1;
}

.heros .slick-slide.slick-active.slick-current{/* 무대 중앙에 있는 슬라이드 하나 */
  transform: scale(1);
  /* opacity: 1; */
}


.cardshop{
  width: 100%;
  height: 1300px;
  background: #444;
}
.cardbg{
  position: relative;
  max-width: 1400px;
  height: 1300px;
  background: rgba(0, 0, 0, 0.5);
}

.sangpoomtxt{
  text-align: center;
  font-size: 43px;
  padding: 180px 0 30px 0;
  color: #d5d2c9;
}

.sangpoomtxt p:nth-child(1) {
  padding: 0 0 30px 0;
  text-decoration: underline;
  text-underline-position: under;
}

.sangpoomtxt p:nth-child(2) {
padding: 0 0 20px;
font-size:23px ;
color: #d5d2c9;
}

.sangpoom{
  text-align: center;
}

.s2 img,
 .s3 img{
  width: 600px ;
}

.cards1{
  position: absolute; top: 6%; left: 0%;
}



.cards2{
  position: absolute; top: 70%; right: 0%;
}

/*회사정보*/


.adrs {
width: 100%;
height: 300px;
background: #333;
}

.adrsbox{
  max-width: 1400px;
  margin: 0 auto;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
}
.adrsimgtxt{
  text-align: center;
}

.adrsimgtxt img{
  width: 220px;
  padding-bottom: 18px;
}
.adrsimgtxt p{
  font-size: 15px;
 color: #d5d2c9;
 padding-bottom: 5px;
}

.adrsimgtxt .p1{
  padding:60px 0 40px
}
